

.StatusBar {
    margin: 1%;
    width: 100%;
}

#LogInForm-container {
    margin: 5%;
}

#LogInForm {
    font-size: 15px;
    width: 40%;
    margin: 1%;
    background-color: white;
    padding: 3%;
}

.BatchContainer {
    font-size: 10px;
    margin: 2%;
}

.BatchTile {
    border: 1px dashed black;
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 60px;
    width: 200px;
    margin: 1%;
    padding: 1%;
}

#batchesIcon{
    color: white;
}

.StudentListContainer {    
    font-size: 10px;
    height: 550px;
    margin: 2%;
}

#StudentForm {
    margin-top: 1%;
    font-size: 10px;
    padding-left: 1%;
}

.StudentTile {
    border: 1px dashed black;
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 50px;
    width: 50px;
    margin: 5%;
    padding: 5%;
}

#BatchForm {
    font-size: 10px;
    padding-left: 1%;
}


.EvalContainer {
    border: 1px solid rgb(196, 194, 194);
    border-radius: 3px;
    font-size: 10px;
    height: 400px;
    margin: 2%;
    background-color: #f2f2f2;
}

#EvalForm {
    font-size: 10px;
    height: 150px;
    margin: 0%;
    padding: 2%;
}

.ScoreTile {
    border: 1px solid rgb(58, 57, 57);
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 40px;
    width: 40px;
    margin: 1%;
    padding: 1%;
}

  .ScoreTile.fill-red {
      background-color: #ff4444;
    
  }

  .ScoreTile.fill-green {
      background-color: #00C851;
  }

  .ScoreTile.fill-yellow {
      background-color: #ffbb33;
  }

    .StudentTile.fill-red {
        background-color: #ff4444;
          z-index: 100;
    }

    .StudentTile.fill-green {
        background-color: #00C851;
          z-index: 100;
    }

    .StudentTileTile.fill-yellow {
        background-color: #ffbb33;
          z-index: 100;
    }

    a:link {
        color: black;
    }

    /* visited link */

    a:visited {
        color: black;
    }

    /* mouse over link */

    a:hover {
        color: black;
    }

    /* selected link */

    a:active {
        color: black;
    }

.dashboard-tile{
    font-size: 16px;
    padding: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
