

.StatusBar {

    margin: 1%;
    width: 60%;
}

#LogInForm-container {
    margin: 5%;
}

#LogInForm {
    font-size: 15px;
    width: 40%;
    margin: 1%;
    padding-left: 1%;
}

.BatchContainer {
    border: 1px dotted black;
    border-radius: 3px;
    font-size: 10px;
    height: 550px;
    margin: 2%;
}

.BatchTile {
    border: 1px dashed black;
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 60px;
    width: 200px;
    margin: 1%;
    padding: 1%;
}


.StudentListContainer {    
    font-size: 10px;
    height: 550px;
    margin: 2%;
}

#StudentForm {
    margin-top: 1%;
    font-size: 10px;
    padding-left: 1%;
}

.StudentTile {
    border: 1px dashed black;
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 50px;
    width: 50px;
    margin: 5%;
    padding: 5%;
}

#BatchForm {
    font-size: 10px;
    padding-left: 1%;
}


.EvalContainer {
    border: 1px solid rgb(196, 194, 194);
    border-radius: 3px;
    font-size: 10px;
    height: 400px;
    margin: 2%;
}

#EvalForm {
    font-size: 10px;
    height: 150px;
    margin: 0%;
    padding: 2%;
}

.ScoreTile {
    border: 1px solid rgb(58, 57, 57);
    border-radius: 3px;
    font-family: monospace;
    font-size: 10px;
    height: 40px;
    width: 40px;
    margin: 1%;
    padding: 1%;
}

  .ScoreTile.fill-red {
      background-color: #D0021B;
    
  }

  .ScoreTile.fill-green {
      background-color: green;
  }

  .ScoreTile.fill-yellow {
      background-color: yellow;
  }

    .StudentTile.fill-red {
        background-color: #D0021B;
          z-index: 100;
    }

    .StudentTile.fill-green {
        background-color: green;
          z-index: 100;
    }

    .StudentTileTile.fill-yellow {
        background-color: yellow;
          z-index: 100;
    }